@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

.App {
  text-align: center;
  height: 100%;
  background-color: ghostwhite;
}

.title-block {
  background-color: midnightblue;
  padding: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 3px solid white;
  border-left: 3px solid white;
  height: 10vh;
}

.title-block h1 {
  font-size: 3rem;
  color: white;
  letter-spacing: 1px;
  font-family: 'Fredoka One', cursive;
}
